.content{
    display: flex;
    justify-content: center;
}

.blocka{
    display: block;
    text-align: center;
}

.photoCertified{
    width: 700px;
    
}

.languagesListItem{
    font-size: large;
}

.width45{
    width: 10%;
}

.alignmentFooter{
    display: flex;
    justify-content: center;
}

.titleCarouselDark{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(112, 110, 110);
}

.titleCarouselLight{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

@media (max-width: 508px){
    .photoCertified{
        width: 100%;
    }
    .titleCarouselDark{
        font-size: 1rem;
      
    }
    
    .titleCarouselLight{
        font-size: 1rem;
 
    }
}